.HoverCardContent {
    border: 2px solid var(--color-primary-light);
    border-radius: 0;
    padding: 1rem;
    width: min(90vw, 35rem);
    background-color: white;
    color: var(--color-primary-light);
    font-family: var(--font-sans);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    position: relative;
}

.HoverCardArrow {
    fill: var(--color-background-light);
    stroke: var(--color-primary-light);
    stroke-width: 2px;
}

.HoverCardPreview {
    max-height: 20rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to bottom,
        black calc(100% - 24px),
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        black calc(100% - 24px),
        transparent 100%
    );
}

.HoverCardPreview .markdown-page > :last-child {
    margin-bottom: 0;
}
